# EmailJS (set these in Netlify Environment Variables)
# You also need EMAILJS_PUBLIC_KEY from EmailJS dashboard.

EMAILJS_PUBLIC_KEY=
EMAILJS_SERVICE_ID=service_rb59o9a
EMAILJS_CONTACT_TEMPLATE_ID=template_cd2eg9j
EMAILJS_AUTOREPLY_TEMPLATE_ID=template_xuppqc6

